.movieWrap {
    padding: 20px 0;
}

.btn {
    margin-bottom: 20px;
    display: block;
    text-align: center;
    width: 100px;
    font-size: 14px;
    border-radius: 20px;
    border: none;
    padding: 5px 20px;
    background-color: #2b2d42;
    color: #edf2f4;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
    background-color: #8d99ae;
}

.card {
    display: flex;
}

.posterWrap {
    border-radius: 20px;
    overflow: hidden;
    min-width: 300px;
    max-width: 300px;
    margin-right: 20px;
}

.poster {
    width: 100%;
}

.title,
.score,
.overview {
    margin-bottom: 20px;
}

.subtitle {
    margin-bottom: 10px;
}
