.list {
    padding: 20px 0;
    border-bottom: 2px solid #edf2f4;
}

.item:not(:last-child) {
    margin-bottom: 20px;
}

.content {
    font-size: 14px;
    margin-top: 10px;
}

.resultTitle {
    padding: 20px 0;
    border-bottom: 2px solid #edf2f4;
}
